/.lake
/.lake/*
.lake
.log
*.log
/.github
/.github/*
.github
.github/*.json
.github/*.yml
/.claude
/.claude/*
.claude
.claude/*.json
/.vscode
/.vscode/*
.vscode
.vscode/*.json
/.idea
/.idea/*
.idea
/.claude
/.claude/*
.claude
.claude/*.json
.env
*.env